$color-primary: #4fc1b1;
$color-secondary: #ffffff;
$color-disabled: #6c757d;

$parallel-primary: #e7f7f6;
$parallel-secondary: #ffffff;

$btn-cus-primary: #4fc1b1;
$btn-cus-primary-color: #ffffff;
$btn-cus-primary-hover: #139785;
$btn-cus-secondary: #ffffff;
$btn-cus-secondary-color: #4fc1b1;
$btn-cus-secondary-hover: #4fc1b1;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// loader vars
$loader-bg-transparency: 0.7;
$loader-bg-color: black;

// menu
$menu-text-color: #000000;
$menu-bg-active: #565555;
